h3[id="artistHeader"] {
    color: #ff6939;
    text-align: center;
    position: absolute;
    left: 650px;
    top: 60px;
    font-size: 24px;
}

table[id="artistTable"] {
    text-align: center;
    position: absolute;
    left: 450px;
    top: 128px;
    font-family: arial, sans-serif;
    font-size: 15px;
    color: #1f253d;
    border-collapse: collapse;
    width: 500px;
    background-color: white;
}

td, th {
    border: 3px solid #217d98;
    text-align: left;
    padding: 8px;
}

th {
    color: #217d98;
}

button[id=next] {
    position: absolute;
    left: 450px;
    top: 400px;
    font-size: 15px;
    font-weight: bold;
}

button[id=next]:hover {
    color: #32ac0f;
}

button[id=previous] {
    position: absolute;
    left: 520px;
    top: 400px;
    font-size: 15px;
    font-weight: bold;
}

button[id=previous]:hover {
    color: #ac132a;
}