.left-container {
}

.menu-box {
    height: 360px;
}

.menu-box .titular {
    background: #11a8ab;
}

.menu-box-menu .icon {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    margin-left: 20px;
    margin-right: 15px;
}

.menu-box-menu li {
    height: 60px;
    position: relative;
}

.menu-box-tab {
    line-height: 60px;
    display: block;
    border-bottom: 1px solid #1f253d;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.menu-box-tab:hover .icon {
    color: #fff;
}

.menu-box-tab:hover {
    background: #3f8f8e;
    text-decoration: none;
    border-top: 1px solid #1f253d;
}

div.solid {
    border: 3px solid #ffc741;
    width: 25%;
    position: absolute;
    left: 500px;
    top: 150px;
}

h3 {
    color: white;
    text-align: center;
    font-size: 25px;
}

pre {
    color: white;
    font-family: "Palatino Linotype", serif;
    font-size: 17px;
    text-align: center;
}

p {
    color: #ff3835;
    font-size: 15px;
}