header {
    height: 55px;
}

.header-menu-tab {
    padding: 0 8px;
    display: block;
    line-height: 54px;
    font-size: 17px;
    -webkit-transition: background .3s;
    transition: background .3s;
    text-align: center;
}

.header-menu-tab[id=logOut]:hover {
    background: #508994;
    border-bottom: 3px solid #ab253c;
    text-decoration: none;
}

.header-menu-tab:hover {
    background: #508994;
    border-bottom: 3px solid #11a8ab;
    text-decoration: none;
}

.header-menu-tab .icon {
    padding-right: 8px;
}

.header-menu li:hover {
    text-decoration: none;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

}

.profile-menu {
    float: right;
    height: 80px;
    padding-right: 20px;
}

.profile-menu p {
    font-size: 22px;
    display: inline-block;
    line-height: 76px;
    margin: 1px 6px;
    color: #ffffff;
    position: absolute;
    right: 50px;
    top: 10px;
    alignment: right;
}

#console {
    position: absolute;
    left: 570px;
    top: 27px;
    font-size: 35px;
    color: #ff7423;
    font-family: "Droid Sans Mono Slashed", serif;
}